<main class="principal" *ngFor="let item of proyectos">
  <hr>
  <div class="row areaPrincipal">
    <div class="col-md-6 areaImg">
      <img class="imgPrincipal" src="../../../assets/img/main.png" alt="proyecto uno">
    </div>
    <div class="col-md-6 descripcionPrincipal">
      <h3>{{ item.nombre }}</h3>
      <p>{{ item.descripcion }}</p>
      <button type="button" class="btn btn1">Ver más</button>
       <a href="{{ item.git }}" target="_blank"><button type="button" class="btn btn2">Código</button></a> 
    </div>
  </div>
</main>
